<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewpoint">
    <meta content="telephone=no" name="format-detection">
    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/bungo.css">
    <script src="assets/js/vue.min.js"></script>
    <script src="assets/bungo.js"></script>
  </head>
  <body>
    <div class="container">
      <ol class="breadcrumb">
        <li id="btn_team_info">队伍信息</li>
        <li id="btn_bungo_info">文豪信息</li>
        <li id="btn_battle_log_info">掉落记录</li>
        <li id="btn_build_log_info">有魂书记录</li>
        <li id="btn_egg_info">关于</li>
      </ol>
      <!-- 这个是资源信息 -->
      <div id="res_info">
        看不到资源信息的话去一下结成界面再回来。。
        <table class="table">
          <!-- 炼金术师信息 -->
          <tr>
            <td colspan="2">炼金术师：<span>{{ name }}</span></td>
            <td>Lv.<span>{{ level }}</span></td>
            <td>NextExp:<span>{{ next_exp }}</span></td>
            <!-- <td>UID.<span>{{ uid }}</span></td> -->
          </tr>
          <!-- 资源信息 -->
          <tr>
            <td>墨汁：<span>{{ res_ink }}</span></td>
            <td>饭团：<span>{{ res_food }}</span></td>
            <td>有魂书：<span>{{ item_book }}</span></td>
            <td>加速机：<span>{{ item_quick }}</span></td>
          </tr>
          <!-- 信件信息 -->
          <tr>
            <td>信件设置：<span>{{ selectedTime }}</span>/<span>{{ selectedItem }}</span></td>
            <td>信件信息：<span>{{ letter_num }}</span>/2-<span>{{ letter_time }}</span></td>
          </tr>
          <!-- <li class="ad"><a href="http://weibo.com/2bdenny" target="_blank">向凌大大致敬</a></li> -->
        </table>
      </div>

      <!-- 这个是队伍信息 -->
      <div id="team_info">
        <table class="table" v-for="team in teams">
          <tr><th colspan="9">{{ team.id }}.{{ team.name }}</th></tr>
          <tr class="info">
            <td>名字</td>
            <td>武器</td>
            <td>等级</td>
            <td>侵蚀</td>
            <td>满腹度</td>
            <!-- <td>精神</td> -->
            <td>疲劳</td>
            <td>降临</td>
            <td>NextExp</td>
            <td>状态</td>
          </tr>
          <tr v-for="member in team.members">
            <td>{{ member.name }}</td>
            <td>{{ member.category }}</td>
            <td>{{ member.level }}</td>
            <td v-bind:class="[member.hp_status]">{{ member.hp }}</td>
            <td v-bind:class="[member.fp_status]">{{ member.fp }}</td>
            <!-- <td>{{ member.mental }}</td> -->
            <td>{{ member.sp }}</td>
            <td>{{ member.lb }}</td>
            <td>{{ member.next_exp }}</td>
            <td>{{ member.status_show }}</td>
          </tr>
        </table>
      </div>

      <!-- 这个是文豪信息 -->
      <div id="bungo_info">
        <!-- <div>test{{test}}</div> -->
        <table class="table">
          <thead>
          <tr class="info">
            <th>名字</th>
            <th>武器</th>
            <th>等级</th>
            <th>侵蚀</th>
            <th>满腹度</th>
            <th>精神</th>
            <!-- <td>疲劳</td> -->
            <th>降临</th>
            <th>NextExp</th>
            <th>状态</th>
          </tr>
          </thead>
          <tr v-for="member in bungos">
            <td>{{ member.name }}</td>
            <td>{{ member.category }}</td>
            <td>{{ member.level }}</td>
            <td v-bind:class="[member.hp_status]">{{ member.hp }}</td>
            <td v-bind:class="[member.fp_status]">{{ member.fp }}</td>
            <td>{{ member.mental }}</td>
            <!-- <td>{{ member.sp }}</td> -->
            <td>{{ member.lb }}</td>
            <td>{{ member.next_exp }}</td>
            <td>{{ member.status_show }}</td>
          </tr>
        </table>
      </div>

      <!-- 这个是掉落信息 -->
      <div id="battle_log_info">
        <table class="table">
          <tr class="info">
            <th>序号</th>
            <th>地图</th>
            <th>结果</th>
            <th>掉落</th>
            <th>时间</th>
          </tr>
          <tr v-for="item in logs">
            <td>{{ item.no }}</td>
            <td>{{ item.map }}</td>
            <td>{{ item.result }}</td>
            <td>{{ item.bungo }}</td>
            <td>{{ item.timestamp }}</td>
          </tr>
        </table>
      </div>

      <div id="build_log_info">
        <!-- <ol>
          <li v-for="x in test">
            {{x.name}}
          </li>
        </ol> -->
        <table class="table">
          <tr class="info">
            <th>序号</th>
            <th>队长</th>
            <th>墨汁</th>
            <!-- <th>书签</th> -->
            <th>时长</th>
            <th>时间</th>
            <th>出货</th>
            <!-- <th>status_no</th> -->
          </tr>
          <tr v-for="item in logs">
            <td>{{ item.no }}</td>
            <td>{{ item.leader }}</td>
            <td>{{ item.ink }}</td>
            <!-- <td>{{ item.bookmark }}</td> -->
            <td>{{ item.interval }}</td>
            <td>{{ item.timestamp }}</td>
            <td>{{ item.bungo }}</td>
            <!-- <td>{{ item.status_no }}</td> -->
          </tr>
        </table>
      </div>

      <div id = "egg_info">
        <ol>
          <li>第一次写chrome扩展，工程结构参考的是<a href="http://weibo.com/moelynn">凌大大</a>的婶婶忙，但是婶婶忙太专业了，代码看不懂Orz。。。所以没有直接fork他的工程而是新开了一个。。。但是还是要感谢他。。。</li>
          <li>交互界面、各种功能的修改和新增意见<b>请随意提</b>。。不一定能搞出来但会尽量试一下。。</li>
          <li>更新频率会是。。周末诈尸一下这种。。</li>
          <li>联系方式的话，可以QQ敲我（如果知道我QQ），也可以在<a href="http://weibo.com/2906583695/ECZt52SAy?from=page_1005052906583695_profile&wvr=6&mod=weibotime&type=comment">微博</a>留言。。不用关注。。请让我继续透明下去。。</li>
          <li>GitHub: <a href="https://github.com/2bdenny/Bungo_Helper">Bungo_Helper</a></li>
        </ol>
      </div>
    </div>
  </body>
</html>
