<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewpoint">
    <meta content="telephone=no" name="format-detection">
    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/bungo.css">
    <script src="assets/js/vue.min.js"></script>
    <script src="app/constant.js"></script>
    <script src="app/bungo.js"></script>
  </head>
  <body>
    <div class="container">
      <ol class="breadcrumb">
        <li id="btn_team_info">队伍信息</li>
        <li id="btn_bungo_info">文豪信息</li>
        <li id="btn_battle_log_info">有碍书记录</li>
        <li id="btn_build_log_info">有魂書记录</li>
        <li id="btn_egg_info">关于</li>
        <li id="btn_tip">tip开关</li>
      </ol>

      <!-- 这个是资源信息 -->
      <div id="res_info">
        <div id="tip">
          <ul>
            <li>去一下结成界面载入文豪和队伍信息；</li>
            <li>去一下开花树（重点）界面载入开花材料信息；</li>
            <li>去一下司书室的内装界面载入金币信息；</li>
            <li>然后就可以正常使用了（大概）。。</li>
          </ul>
        </div>
        <table class="table">
          <!-- 炼金术师信息 -->
          <tr>
            <td colspan="2">炼金术师：<span>{{ name }}</span></td>
            <td>Lv.<span>{{ level }}</span></td>
            <td>NextExp:<span>{{ next_exp }}</span></td>
            <!-- <td>UID.<span>{{ uid }}</span></td> -->
          </tr>
          <!-- 资源信息 -->
          <tr>
            <td>洋墨：<span>{{ res_ink }}</span></td>
            <td>食糧：<span>{{ res_food }}</span></td>
            <td>有魂書：<span>{{ item_book }}</span></td>
            <td>調速機：<span>{{ item_quick }}</span></td>
          </tr>

          <tr>
            <td>{{ materials[0].name }}：<span>{{ materials[0].num }}</span></td>
            <td>{{ materials[1].name }}：<span>{{ materials[1].num }}</span></td>
            <td>{{ materials[2].name }}：<span>{{ materials[2].num }}</span></td>
            <td class="warning">内装金貨：<span>{{ num_coin }}</span></td>
          </tr>
          <tr>
            <td>{{ materials[3].name }}：<span>{{ materials[3].num }}</span></td>
            <td>{{ materials[4].name }}：<span>{{ materials[4].num }}</span></td>
            <td>{{ materials[5].name }}：<span>{{ materials[5].num }}</span></td>
            <td class="warning">内装许可证：<span>{{ num_license }}</span></td>
          </tr>
          <tr>
            <td>{{ materials[6].name }}：<span>{{ materials[6].num }}</span></td>
            <td>{{ materials[7].name }}：<span>{{ materials[7].num }}</span></td>
            <td>{{ materials[8].name }}：<span>{{ materials[8].num }}</span></td>
            <td>{{ materials[9].name }}：<span>{{ materials[9].num }}</span></td>
          </tr>
          <!-- 信件信息 -->
          <tr>
            <td colspan="2">信件设置：<span>{{ selectedTime }}</span>/<span>{{ selectedItem }}</span></td>
            <td></td>
            <td colspan="2">信件信息：<span>{{ letter_num }}</span>/2-<span>{{ letter_time }}</span></td>
          </tr>
          <!-- <li class="ad"><a href="http://weibo.com/2bdenny" target="_blank">向凌大大致敬</a></li> -->
        </table>
      </div>

      <!-- 这个是队伍信息 -->
      <div id="team_info">
        <table class="table" v-for="team in teams">
          <tr class="info">
            <td><b>{{ team.id }}.{{ team.name }}</b></td>
            <td>武器</td>
            <td>等级</td>
            <td>侵蚀</td>
            <td>满腹度</td>
            <!-- <td>精神</td> -->
            <td>疲劳</td>
            <td>降临</td>
            <td>NextExp</td>
            <td>状态</td>
          </tr>
          <tr v-for="member in team.members">
            <!-- ({{ member.flower[0] }}, {{ member.flower[1] }}, {{ member.flower[2] }}) -->
            <td v-bind:class="[member.flower_status]">{{ member.name }}</td>
            <td>{{ member.category }}</td>
            <td>{{ member.level }}</td>
            <td v-bind:class="[member.hp_status]">{{ member.hp }}</td>
            <td v-bind:class="[member.fp_status]">{{ member.fp }}</td>
            <!-- <td>{{ member.mental }}</td> -->
            <td>{{ member.sp }}</td>
            <td>{{ member.lb }}</td>
            <td>{{ member.next_exp }}</td>
            <td>{{ member.status_show }}</td>
          </tr>
        </table>
      </div>

      <!-- 这个是文豪信息 -->
      <div id="bungo_info">
        <!-- <div>test{{test}}</div> -->
        <table class="table">
          <thead>
          <tr class="info">
            <th>名字</th>
            <th>武器</th>
            <th>等级</th>
            <th>侵蚀</th>
            <th>满腹度</th>
            <th>精神</th>
            <!-- <td>疲劳</td> -->
            <th>降临</th>
            <th>NextExp</th>
            <th>状态</th>
          </tr>
          </thead>
          <tr v-for="member in bungos">
            <!-- ({{ member.flower[0] }}, {{ member.flower[1] }}, {{ member.flower[2] }}) -->
            <td v-bind:class="[member.flower_status]">{{ member.name }}</td>
            <td>{{ member.category }}</td>
            <td>{{ member.level }}</td>
            <td v-bind:class="[member.hp_status]">{{ member.hp }}</td>
            <td v-bind:class="[member.fp_status]">{{ member.fp }}</td>
            <td>{{ member.mental }}</td>
            <!-- <td>{{ member.sp }}</td> -->
            <td>{{ member.lb }}</td>
            <td>{{ member.next_exp }}</td>
            <td>{{ member.status_show }}</td>
          </tr>
        </table>
      </div>

      <!-- 这个是掉落信息 -->
      <div id="battle_log_info">
        <table class="table">
          <tr class="info">
            <th>序号</th>
            <th>地图</th>
            <th>结果</th>
            <th>掉落</th>
            <th>时间</th>
          </tr>
          <tr v-for="item in logs">
            <td>{{ item.no }}</td>
            <td>{{ item.map }}</td>
            <td>{{ item.result }}</td>
            <td>{{ item.bungo }}</td>
            <td>{{ item.timestamp }}</td>
          </tr>
        </table>
      </div>

      <div id="build_log_info">
        <table class="table">
          <tr class="info">
            <th>序号</th>
            <th>队长</th>
            <th>墨汁</th>
            <!-- <th>书签</th> -->
            <th>时长</th>
            <th>时间</th>
            <th>出货</th>
            <!-- <th>status_no</th> -->
          </tr>
          <tr v-for="item in logs">
            <td>{{ item.no }}</td>
            <td>{{ item.leader }}</td>
            <td>{{ item.ink }}</td>
            <!-- <td>{{ item.bookmark }}</td> -->
            <td>{{ item.interval }}</td>
            <td>{{ item.timestamp }}</td>
            <td>{{ item.bungo }}</td>
            <!-- <td>{{ item.status_no }}</td> -->
          </tr>
        </table>
      </div>

      <div id="egg_info">
        <div>
          <b>v1.1.2 更新说明</b>
          <ol>
            <li>测试发现耗弱和丧失的阈值可能跟疲劳、等级、武器等相关，所以20和10仅做参考Orz</li>
            <li>修复状态刷新失败的bug（Orz），可以显示补修和潜书倒计时（有±5秒的误差）</li>
            <li>增加开花材料计数</li>
            <li>增加开花推荐（如果可以开花，名字会变成粉红色。。），会漏推荐</li>
          </ol>
          <b>无法实现的功能</b>
          <ol>
            <li>在潜书时间结束前得知出货：可以认为在点击结束的时候才掷骰子获得出货结果。</li>
          </ol>
        </div>
        <br />
        <div>
          <b>其他</b>
          <ol>
            <li>联系方式：QQ敲我（如果知道我QQ），也可以在<a href="http://weibo.com/2906583695/ECZt52SAy?from=page_1005052906583695_profile&wvr=6&mod=weibotime&type=comment">微博</a>留言。。不用关注。。请让我继续透明下去。。</li>
            <li>GitHub: <a href="https://github.com/2bdenny/Bungo_Helper">Bungo_Helper</a></li>
          </ol>
        </div>
      </div>
    </div>
  </body>
</html>
